header {
    background-color: #EAC926;
  }
  header .flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
  header .flex .buscador, header .flex .logo {
    margin-top: 10px;
    max-width: 300px;
    align-self: center;
  }
  header .flex .barra-de-busqueda {
    width: 40%;
    max-width: 300px;
    position: relative;
  }
  header .flex .barra-de-busqueda .buscador {
    width: 100%;
    padding-bottom: 2px;
  }
  header .flex .barra-de-busqueda .lupa {
    position: absolute;
    color: black;
    right: 3px;
    top: 11px;
    background-color: #fff;
  }
  header .flex a.redireccion {
    width: 45%;
    align-items: left;
  }
  header .flex a.redireccion img {
    width: 100%;
    margin: 0 10px;
    margin-bottom: 10px;
  }
  header .centrado {
    text-align: center;
    padding: 10px 0;
  }
  header .centrado .burger-menu {
    display: inline-block;
    width: 30px;
    background-color: #1259c3;
    color: white;
    padding: 6px;
    border-radius: 4px;
  }
  header .container {
    display: none;
  }
  header nav {
    padding-bottom: 20px;
  }
  header nav li a {
    color: #000000;
    font-size: 16px;
    font-weight: 500;
  }
  
  @media (min-width: 450px) {
    /* header */
    header {
      padding: 0 2px;
    }
    header .flex {
      padding: 0;
      flex-wrap: nowrap;
      padding-top: 5px;
      justify-content: space-between;
    }
    header .flex a.redireccion {
      width: 30%;
    }
    header .flex .barra-de-busqueda {
      width: 30%;
    }
    header .flex .barra-de-busqueda .buscador {
      width: 100%;
      padding-bottom: 2px;
    }
    header .flex p {
      width: 30%;
      font-size: 12px;
    }
    header .centrado {
      display: none;
    }
    header .container {
      padding: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;
    }
    header .container ul {
      display: flex;
    }
    header .container ul li a {
      font-size: 12px;
      padding: 0 7px;
    }
  }
  @media (min-width: 769px) {
    /* header */
    header .flex p {
      font-size: 16px;
    }
    header .container ul li a {
      font-size: 16px;
      padding-left: 10px;
    }
  }
  